// Issue 25 Titlepage Styles

// Project title
$title: '' !default;

// CSS selector for the titlepage. Keep in sync with the markdown
$title-page-selector: '#title-page' !default;

// Resentment extension color as hexadecimal
$resentment-light: #ff8000 !default;

// Resentment base color as hexadecimal
$resentment-dark: #ff0080 !default;

// Height of spread-contents used for vertical alignment in pixels
$spread-height: 500px !default;

// Mobile height of spread-contents used for vertical alignment in pixels
$spread-height-mobile: 340px !default;

// Project contributors. List of First Last. e.g., ('John Doe', 'Max Mustermann')
$authors: () !default;
