@import '~/b-ber-theme-ccc/application';

@function font-wind($dir) {
  @return 'Wind #{to-upper-case($dir)}';
}

// Don't think these can be stored on the b-ber-fonts bucket.
@if $build== 'reader' {
  @font-face {
    font-family: 'Wind NW';
    src: url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002465-99926a23759f6ae9fbdef6e39b9169f7.eot');
    src: url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002465-99926a23759f6ae9fbdef6e39b9169f7.eot?#iefix')
        format('embedded-opentype'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002465-99926a23759f6ae9fbdef6e39b9169f7.woff2')
        format('woff2'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002465-99926a23759f6ae9fbdef6e39b9169f7.woff')
        format('woff'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002465-99926a23759f6ae9fbdef6e39b9169f7.svg#typotheque_webfonts_service')
        format('svg');
  }

  @font-face {
    font-family: 'Wind SE';
    src: url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002466-b4dc3241ff4f4e99bd897dd4e540bd5d.eot');
    src: url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002466-b4dc3241ff4f4e99bd897dd4e540bd5d.eot?#iefix')
        format('embedded-opentype'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002466-b4dc3241ff4f4e99bd897dd4e540bd5d.woff2')
        format('woff2'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002466-b4dc3241ff4f4e99bd897dd4e540bd5d.woff')
        format('woff'),
      url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002466-b4dc3241ff4f4e99bd897dd4e540bd5d.svg#typotheque_webfonts_service')
        format('svg');
  }

  @font-face {
    font-family: 'Wind VF';
    src: url('https://s3.amazonaws.com/fonts.typotheque.com/WF-031429-010328-002654-a2be9064d73c1466eeeaf67c6122be0c.woff2')
      format('woff2');
  }
}

#{$title-page-selector} {
  @if $build == 'reader' {
    padding: calc((100vh - #{$spread-height}) / 2) 6% 0 6%;
    @include break('mobile') {
      padding: calc((100vh - #{$spread-height-mobile}) / 2) 0 0 0;
    }
    @include break('mobile-landscape') {
      padding: 0;
    }

    #spread-contents {
      height: auto;
      width: auto;
      margin: auto;
      max-width: 680px;
      @include break('desktop') {
        max-width: 800px;
      }
      @include break('mobile') {
        max-width: 400px;
      }
      @include break('mobile-landscape') {
        max-width: 600px;
      }
      @keyframes background-color {
        0% {
          background-color: $resentment-light;
        }
        50% {
          background-color: $resentment-dark;
        }
        100% {
          background-color: $resentment-light;
        }
      }
      &:before {
        content: '';
        height: auto;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
        background-color: $resentment-dark;
        animation-name: background-color;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        z-index: -1;
      }

      h1,
      span.authors {
        font-family: font-wind('nw');
        color: $resentment-dark;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        position: relative;
        -webkit-font-smoothing: antialiased !important;
        width: 100%;
        padding: 0;
      }

      h1 {
        @if str-length($title) < 10 {
          font-size: 100px;
          @include break('desktop') {
            font-size: 125px;
          }
          @include break('mobile') {
            font-size: 65px;
          }
          &:before {
            left: auto !important;
          }
        }
        @if str-length($title) > 11 and str-length($title) < 21 {
          font-size: 80px;
          @include break('desktop') {
            font-size: 100px;
          }
          @include break('mobile') {
            font-size: 38px;
          }
          &:before {
            left: auto !important;
          }
        }
        @if str-length($title) > 21 and str-length($title) < 31 {
          font-size: 60px;
          @include break('desktop') {
            font-size: 80px;
          }
          @include break('mobile') {
            font-size: 38px;
          }
        }
        @if str-length($title) > 31 {
          font-size: 52px;
          @include break('desktop') {
            font-size: 65px;
          }
          @include break('mobile') {
            font-size: 33px;
          }
          @include break('mobile-landscape') {
            font-size: 33px;
          }
        }
        &:before {
          position: absolute;
          transition: opacity 0.4s ease;
          font-family: font-wind('se');
          color: $resentment-light;
          content: $title;
          left: 0px;
        }
      }

      span.authors {
        font-size: 39px;
        line-height: 1.2em;
        margin-top: 0;
        color: $resentment-dark;
        @include break('mobile') {
          font-size: 21px;
          width: 100%;
        }
        @include break('mobile-landscape') {
          font-size: 21px;
        }

        span.author {
          &:before {
            font-family: font-wind('se');
            color: $resentment-light;
            position: absolute;
            content: 'by';
          }

          &.second {
            &:before {
              content: 'with';
            }
          }

          &.last {
            &:before {
              content: '&';
            }
          }
        }

        @if length($authors) > 0 {
          @for $i from 1 through length($authors) {
            span.author:nth-of-type(#{$i}) {
              a {
                &:before {
                  font-family: font-wind('se');
                  color: $resentment-light;
                  position: absolute;
                  content: nth($authors, $i);
                }
              }
            }
          }
        }

        span:after {
          content: '\A';
          white-space: pre;
        }

        a {
          text-decoration: none;
          color: $resentment-dark;
          display: -webkit-inline-box;
        }
      }

      .subhead {
        margin: auto;
        width: 100%;
        @include break('mobile') {
          padding: 0;
        }
        p {
          text-align: center;
          @include type-settings(-5);
          line-height: 1.3em;
          width: 45%;
          margin: two-lines(0) auto two-lines(0);
          hyphens: none;
          @include break('mobile') {
            @include type-settings(-5);
            line-height: 1.3em;
            width: 100%;
            max-width: 300px;
            min-width: auto;
            padding: 0;
            margin: two-lines(0) auto two-lines(0);
          }
          @include break('mobile-landscape') {
            margin: 2em auto 1.3em auto;
            max-width: 100%;
          }
        }
      }

      .project-context {
        @include type-settings(-10);
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        bottom: unset;
        color: inherit;
        display: flex;
        justify-content: center;
        .project-type {
          display: inline-block;
        }

        a {
          color: inherit;
          text-decoration: none;
          width: 25px;
          display: inline-block;
          height: 25px;
          overflow: visible;
          margin-top: -6px;

          span {
            display: none;
          }

          &:after {
            font-family: $font-glyphs;
            content: '\e025';
            color: inherit;
            font-size: 44px;
            position: relative;
            top: 8px;
            line-height: 0;
          }
        }
        span {
          font-family: $font-free-universal;
          margin-right: 16px;
        }

        .published-datetime {
          display: inline-block;
          line-height: inherit;
          margin-top: 0;
        }
      }
    }
  }
}
